*, *::after, *::before {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --background-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --hover-purple: hsl(293, 52%, 37%);
    --Dark-purple: hsl(292, 42%, 14%);
    --fs-base: 1rem; /* 16px */
    --fs-h1: 2rem; /* 32px */
    --fs-question: 1rem; /* 16px */
}

@font-face {
    font-family: 'Worksans';
    src: url('../assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 400 700; 
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Worksans';
    src: url('../assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 400 700; 
    font-style: italic; 
  }


body {
    font-family: "Worksans";
    font-size: var(--fs-base);
    font-weight: 400;
    background-color: var(--background-pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Grayish-purple);
}

.hidden {
    display:none;
}

#pattern {
    position:absolute;
    z-index: 0;
    width:100%;
    top:0;
}

main {
    position:relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--White);
    padding: 20px;
    border-radius: 10px;
    margin-top: 150px;
    width: clamp(300px, 90vw, 500px);
    gap:30px;
}

.question-answer-wrapper {
    width:100%;
}

.faq-header {
    display: flex;
    gap:30px;
}

section {
    display:grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 2;
    width:100%;
    gap:20px;
}

.question {
    font-size: var(--fs-question);
    font-weight: 600;
    grid-column: 1;
    grid-row: 1;
    color: var(--Dark-purple);
}

.question:hover {
    cursor: url("../assets/images/icons8-cursor-25.png"), pointer;
    color: var(--hover-purple);
}

.expand-button {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    background-color: var(--White);
    border:none;
}

.expand-button:hover {
    cursor: url("../assets/images/icons8-cursor-25.png"), pointer;
}

.answer {
    grid-column: 1/3;
    grid-row: 2;
}

h1 {
    font-size: var(--fs-h1);
    font-weight: 700;
    color: var(--Dark-purple);
}

.attribution { font-size: 11px; text-align: center; color:var(--Dark-purple)}
.attribution a { color: hsl(228, 45%, 44%); }

@media (width > 750px) {
 
    main {
        width: clamp(500px, 60vw, 800px);
    }
}